.header {
  .logo {
    width: 15rem;
  }

  .dropdown-menu {
    border: none;
  }

  //.search {
  //  min-width: 24rem;
  //}

  .user-image {
    width: 3.5rem;
    height: 3.5rem;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
