.settings-card {
  background: var(--bs-body-bg);
}

.image-upload {
  width: 5rem;
  height: 5rem;
  background: var(--bs-secondary);
}

.invalid-control-error,
.control-error-placeholder {
  font-size: 0.875em;
}
