// scss-docs-start gray-color-variables
$white: #fff;
$gray-100: #e5e6e8;
$gray-200: #ccced2;
$gray-300: #b3b7bc;
$gray-400: #9ba0a6;
$gray-500: #848991;
$gray-600: #575e69;
$gray-700: #424a56;
$gray-800: #2e3743;
$gray-900: #1b2431;
$black: #000;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue: #244080;
$indigo: #6610f2;
$purple: #6226ef;
$pink: #ba29ff;
$red: #a7271b;
$orange: #ffa756;
$yellow: #ffc107;
$green: #005b4e;
$teal: #20c997;
$cyan: #0dcaf0;
// scss-docs-end color-variables

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// scss-docs-start font-variables
// stylelint-disable value-keyword-case
$font-family-sans-serif:
  'Nunito Sans',
  system-ui,
  -apple-system,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  'Noto Sans',
  'Liberation Sans',
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1576px,
);
// scss-docs-end container-max-widths

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px,
  xxl: 1440px,
  xxxl: 1600px,
);
// scss-docs-end grid-breakpoints

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

// scss-docs-start table-variables
$table-cell-padding-y: 1.5rem;
$table-cell-padding-x: 1.5rem;
$table-cell-padding-y-sm: 0.5rem;
$table-cell-padding-x-sm: 0.5rem;

$table-cell-vertical-align: middle;

//$table-color: var(--#{$prefix}emphasis-color) !default;
//$table-bg: var(--#{$prefix}body-bg) !default;
//$table-accent-bg: transparent !default;

$table-th-font-weight: bold;
$table-th-case: uppercase;

//$table-striped-color: $table-color !default;
//$table-striped-bg-factor: 0.05 !default;
//$table-striped-bg: rgba(var(--#{$prefix}emphasis-color-rgb), $table-striped-bg-factor) !default;
//
//$table-active-color: $table-color !default;
//$table-active-bg-factor: 0.1 !default;
//$table-active-bg: rgba(var(--#{$prefix}emphasis-color-rgb), $table-active-bg-factor) !default;

//$table-hover-color: $table-color !default;
//$table-hover-bg-factor: 0.075 !default;
//$table-hover-bg: rgba(var(--#{$prefix}emphasis-color-rgb), $table-hover-bg-factor) !default;

//$table-border-factor: 0.2 !default;
//$table-border-width: var(--#{$prefix}border-width) !default;
$table-border-color: $gray-100;
$table-border-radius: 1rem;

//$table-striped-order: odd !default;
//$table-striped-columns-order: even !default;
//
//$table-group-separator-color: currentcolor !default;

//$table-caption-color: var(--#{$prefix}secondary-color) !default;

//$table-bg-scale: -80% !default;
// scss-docs-end table-variables
