.nav-link {
  position: relative;
  color: var(--bs-body);

  .item-text {
    left: 3.75rem;
  }
}

.nav-link:hover:before,
.nav-link.active:before {
  content: '';
  position: absolute;
  left: -0.5rem;
  right: 0;
  bottom: 0;
  height: 100%;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  width: 0.25rem;
  background-color: var(--bs-primary);
}

.toggle-button {
  right: -2rem;
  z-index: -1;
  background: var(--bs-body-bg);
  a {
    text-decoration: none;
  }
  button {
    width: 3rem;
    height: 3rem;
  }
}
