<div class="customer-card card">
  <div class="card-body">
    <div class="card-top d-flex justify-content-between">
      <h5 class="card-title">{{ customer?.companyLegalName }}</h5>
      <div class="actions">
        <button
          [routerLink]="['/invoices']"
          (click)="$event.stopPropagation()"
          [queryParams]="{ customer: customer?.uid }"
          matTooltip="Jump to customers invoices"
          class="btn btn-sm btn-outline-primary me-2">
          <i class="bi bi-receipt"></i>
        </button>
        <button
          (click)="onDelete(customer?.uid); $event.stopPropagation()"
          matTooltip="Delete customer"
          class="btn btn-sm btn-outline-danger">
          <i class="bi bi-trash3-fill"></i>
        </button>
      </div>
    </div>

    <h6 class="card-subtitle mb-2 text-body-secondary">{{ customer?.address_1 }}</h6>
    <p class="card-text">
      {{ customer?.shortDescription }}
    </p>
    <div class="card-actions d-flex flex-wrap">
      <a
        appCopyText
        [href]="'tel:+' + trimmedPhone"
        (click)="$event.stopPropagation()"
        class="card-link text-decoration-none d-flex gap-1 flex-nowrap m-0 me-3"
        ><i class="bi bi-telephone-fill"></i> {{ customer?.phone }}</a
      >
      <a
        appCopyText
        [href]="'mailto:' + customer?.email"
        (click)="$event.stopPropagation()"
        class="card-link text-decoration-none d-flex gap-1 flex-nowrap m-0"
        ><i class="bi bi-envelope-plus-fill"></i> {{ customer?.email }}</a
      >
    </div>
  </div>
</div>
